# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Build / distribution
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg

# Testing / coverage
.coverage
.coverage.*
.pytest_cache/
htmlcov/
.tox/
.nox/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Other Python tools
.mypy_cache/
.pyre/
.pytype/
.pytest_cache/
.ropeproject/
.spyderproject
.spyproject

# OS
.DS_Store
Thumbs.db